@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0 10px;
    /* padding: 10px; */
}

nav button {
    padding: 5px 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-right: 20px;
    cursor: pointer;
}

nav button:hover {
    transform: scale(1.15);
}
nav button.active {
    text-decoration: underline;
}
#content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(240, 232, 232, 0.764);
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p{
    margin: 0;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer a:hover{
    text-decoration: underline;
}


